*.pdf
*.jpg
*.png
*.bmp
*.eps
*.gif
pcb_design/History
libs/History
src_codes/*.rar
src_codes/*.zip
src_codes/STM32F407VE.ioc
src_codes/F407VE_Ethernet/MDK-ARM/F407VE_Ethernet/*
src_codes/F407VE_Ethernet/MDK-ARM/F407VE_Ethernet.uvguix.*
pcb_design/__Previews
pcb_design/Project Outputs for ETH_CAN_converter/__Previews/
pcb_design/Project Logs for ETH_CAN_converter/
